@{
    ViewData["Title"] = "Home Page";
}

     
    <div class="align-content-center"> 
        <ul class="navbar-nav flex-grow-3">
             <li class="nav-item">
  <a  asp-area="" asp-controller="Visitante" asp-action="Index">Abrir Formulario Visitante</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
             </button>
             </li> 
             </ul>

             <div>

 <img src="https://cdn-icons-png.flaticon.com/512/2714/2714798.png" alt="Visitante" width="300" height="200"/>
             </div>

    </div>
    </>
    
